---
import LoginView from '@/components/LoginView.vue';
import Layout from '@/layouts/Layout.astro';

if (Astro.locals.user) {
  return Astro.redirect('/dashboard');
}
---

<Layout title="Login | Template Astro Vue Cloudflare">
  <div
    data-testid="login-page-root"
    class="mx-auto p-4 w-[800px] max-w-[calc(100%-2rem)] text-xl leading-relaxed"
  >
    <div
      data-testid="login-page-content"
      class="flex justify-center items-center min-h-[50vh]"
    >
      <LoginView client:only="vue" />
    </div>
  </div>
</Layout>
